@import "tailwindcss";

@theme{
  /* Define your custom hex colors here */
  --color-ternay: #E2D7E9;
  --color-second: #5C3D67;
  --color-prime: #32213A;
}

body{
  font-family: 'Times New Roman', Times, serif;
  background-color:"#E2D7E9" ;
}

.arial{
  font-family:Arial, Helvetica, sans-serif;
}

.btn{
  width:100%;
  padding:8px 16px;
  color: white;
  background-color:#32213A ;
  border-radius: 8px;
  border: none;
}

.btn:hover{
  cursor:pointer;
  background: linear-gradient(#673e7a);
}

.btn-sec{
  width:100%;
  padding:8px 16px;
  color:  #32213A ;
  border: solid #32213A 2px ;
  border-radius: 8px;
    /* transition:ease-out 1s; */
}

.btn-sec:hover{
  color: white;
  background-color:#32213A ;
}

.hiddenn {
  display: none;
}